<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Cargando camara...
  <ion-spinner name="crescent"></ion-spinner>
  <p></p>
  <p></p>
  <p></p>
  <ion-img src="assets/img/descarga.png"></ion-img>
  <p></p>
  <p></p>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
  <p></p>
  <p></p>
  <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
</ion-content>

<ion-footer>
  <ion-toolbar color ="primary">
    <ion-button slot="end" >
      <ion-button [routerLink]="['/asistencia']">Volver</ion-button>
    </ion-button>

  </ion-toolbar>
</ion-footer>
